// ------------------------------------------------------------------------------------------------------------------
$dark-bg: rgb(17, 35, 55);
$light-bg: rgb(255, 255, 255);

$dark-text: rgb(255, 255, 255);
$light-text: rgb(17, 35, 55);

/* map page */

#map-page {
  position: absolute;
  top: 0;
  left: 0;
  //   display: none;
  //   visibility: hidden;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* directions  */

#instructions-toggle {
}
#instructions {
  display: block;
  transition: height ease 0.4s;
  // margin: 20px;
  position: absolute;

  // width: 29px;
  width: auto;
  padding: 20px;
  right: 10px !important;
  left: 10px !important;
  // top: 50%;
  // height: 29px;
  height: 0px;
  // bottom: 50px; //to do breakpoint at 960px
  bottom: -40px;
  border-radius: 1rem;
  overflow-y: scroll;
  font-size: 0.8em;
  line-height: 2em;

  &.instructions-active {
    transition: height ease 0.4s;

    width: auto;
    height: 40%;
    bottom: 1rem;
  }

  h1 {
    margin-top: 0;
  }

  //icons for maneuvre types
  li {
    display: flex;
    align-items: center;
    margin: 0.4em 0;
    font-size: 1.2em;
    &::before {
      content: "";
      display: inline-block;
      // background-size: 10px 10px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      margin-right: 1.2em;
      width: 20px;
      height: 20px;
    }

    &.depart::before {
      background: url("./assets/beer_destination.png");
    }
    &.arrive::before {
      background: url("./assets/beer_destination.png");
    }
    &.uturn::before {
      // background: url();
    }
    &.left::before {
      background: url("./assets/arrows/left-icon_1.svg");
    }
    &.slightleft::before {
      background: url("./assets/arrows/slight-left-icon_1.svg");
    }
    &.sharpleft::before {
      background: url("./assets/arrows/left-icon_1.svg"); //same as left
    }
    &.right::before {
      background: url("./assets/arrows/right-icon_1.svg");
    }
    &.slightright::before {
      background: url("./assets/arrows/slight-right-icon_1.svg");
    }
    &.sharpright::before {
      background: url("./assets/arrows/right-icon_1.svg"); //same as right
    }
    &.straight::before {
      background: url("./assets/arrows/straight-icon_1.svg");
    }
  }
}

/* marker  */

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  /* background-image: url(/src/assets/beer_destination.png); */ //set in js
  background-size: contain;
}

/* popup */

.mapboxgl-popup {
  max-width: 200px;

  .mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 6px;

    h3 {
      margin: 0.3rem;
    }
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}

.page-container.dark {
  #instructions {
    color: $dark-text;
    background-color: rgba($color: $dark-bg, $alpha: 0.8);
  }
  .mapboxgl-popup {
    .mapboxgl-popup-content {
      color: $dark-text;
      background-color: rgba($color: $dark-bg, $alpha: 0.8);
    }
  }
}

.page-container.light {
  #instructions {
    color: $light-text;
    background-color: rgba($color: $light-bg, $alpha: 0.8);
  }
  .mapboxgl-popup {
    .mapboxgl-popup-content {
      color: $light-text;
      background-color: rgba($color: $light-bg, $alpha: 0.8);
    }
  }
}
