// ------------------------------------------------------------------------------------------------------------------
$dark-bg: rgb(17, 35, 55);
$light-bg: rgb(255, 255, 255);

$light-text: rgb(255, 255, 255);
$dark-text: rgb(17, 35, 55);

/* ---------------------------------------  map page ---------------------------------------*/

#map-page {
  position: absolute;
  top: 0;
  left: 0;
  //   display: none;
  //   visibility: hidden;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* --------------------------------------- directions  */

#instructions {
  display: block;
  overflow: hidden;
  transition: height ease 0.4s;
  // margin: 20px;
  position: absolute;

  // width: 29px;
  width: auto;
  right: 10px !important;
  left: 10px !important;
  // top: 50%;
  // height: 29px;
  height: 0px;
  // bottom: 50px; //to do breakpoint at 960px
  bottom: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
  font-size: 0.8em;
  line-height: 2em;

  &.instructions-active {
    transition: height ease 0.4s;

    width: auto;
    height: 40%;
    bottom: 1rem;
  }

  #instructions-content {
    padding: 2em;
    h1 {
      margin-top: 0;
    }
    li {
      display: flex;
      align-items: center;
      margin: 0.4em 0;
      font-size: 1.2em;
      &::before {
        content: '';
        display: inline-block;
        // background-size: 10px 10px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        margin-right: 1.2em;
        width: 20px;
        height: 20px;
      }

      &.depart::before {
        background: url('./assets/beer_destination.png');
      }
      &.arrive::before {
        background: url('./assets/beer_destination.png');
      }
      &.uturn::before {
        // background: url();
      }
      &.left::before {
        background: url('./assets/arrows/left-icon_1.svg');
      }
      &.slightleft::before {
        background: url('./assets/arrows/slight-left-icon_1.svg');
      }
      &.sharpleft::before {
        background: url('./assets/arrows/left-icon_1.svg'); //same as left
      }
      &.right::before {
        background: url('./assets/arrows/right-icon_1.svg');
      }
      &.slightright::before {
        background: url('./assets/arrows/slight-right-icon_1.svg');
      }
      &.sharpright::before {
        background: url('./assets/arrows/right-icon_1.svg'); //same as right
      }
      &.straight::before {
        background: url('./assets/arrows/straight-icon_1.svg');
      }
    }
  }

  //icons for maneuvre types
}

/* --------------------------------------- popup */

.mapboxgl-popup {
  max-width: 200px;
  min-width: 200px;

  .mapboxgl-popup-content {
    // max-width: 60vw; //max view width for lots of tags?
    // text-align: center;
    // font-family: 'Open Sans', sans-serif;

    padding: 1em;
    border-radius: 1.2em;

    h3 {
      margin: 0.7rem 0.3rem;
    }
    .popup-tag {
      display: inline-block;
      padding: 0.2em 0.5em;
      margin: 0.2em 0.2em;
      border-radius: 0.3em;
      letter-spacing: 0.1em;
    }
    .popup-info {
      margin: 0.4em 0;
      display: block;
    }
    a.popup-info {
      color: inherit !important;
      text-decoration: none;
    }

    .toggleContainer {
      display: flex;
      justify-content: flex-end;

      .infoToggle {
        span {
          background-image: url('./assets/icons/info-24px.svg');
        }
      }
      .editToggle {
        span {
          background-image: url('./assets/icons/edit.svg');
        }
      }
      .editToggle,
      .infoToggle {
        display: block;
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        outline: none;
        padding: 0;
        margin: 0.4em 0.2em;

        // margin-left: auto;
        // margin-top: 0.4em;
        // float: right;

        // background-image: "edit image URL"; // TODO
        span {
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 15px 15px;
        }
        &:hover,
        &:focus {
          border-color: 1px solid grey;
        }
      }
    }

    form,
    .infoContainer {
      overflow: hidden;
      // height: auto;
      transition: all 0.5s ease;
      padding-left: 0.6em;
    }
    form {
      width: 100%;
      max-height: 90vh; //hack for height transition to work
    }
    .infoContainer {
      max-height: 15rem;
    }

    form {
      .input-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.2em 0;
        // padding: 0rem 1rem;
        label {
          margin-right: 0.8rem;
          width: 30%;
        }
        select,
        input[type='text'],
        input[type='tel'],
        textarea {
          width: 65%;
          max-width: 65%;
          min-width: 65%;
          max-height: 6rem;
        }
        input[type='checkbox'] {
        }
      }
      textarea {
        // margin: 0 1rem;
        width: 100%;
      }
      input[type='submit'] {
        // margin-right: 60%;
        display: block;
      }
    }
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}

/* --------------------------------------- marker  */

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  /* background-image: url(/src/assets/beer_destination.png); */ //set in js
  background-size: contain;
}

//---------------------------------------  temp modal
.temp-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  &.fadeOut {
    animation: fadeOut 0.6s ease;
  }
  h3 {
    background-color: white;
    border-radius: 2rem;
    color: orangered;
    text-align: center;
    padding: 2rem;
    width: 50%;
  }
}

//---------------------------------------  map controls

.teleport {
  #teleport-button {
    animation: teleport 0.7s linear alternate infinite;
  }
}
#nav-home {
  background-image: url('./assets/icons/home-24px.svg');
}

// --------------------------------------- light and dark themes

.page-container.light {
  #instructions {
    color: $light-text;
    background-color: rgba($color: $dark-bg, $alpha: 0.8);
    li::before {
      filter: invert(1);
    }
    li.arrive::before,
    li.depart::before {
      filter: invert(
        0
      ); // can use function to change svg background colour from black (original svg colour) //https://stackoverflow.com/questions/42966641/how-to-transform-black-into-any-given-color-using-only-css-filters
    }
  }
  .mapboxgl-popup {
    .mapboxgl-popup-content {
      color: $light-text;
      background-color: rgba($color: $dark-bg, $alpha: 0.8);

      .popup-tag {
        // color: $light-text;
        // border: 1px solid $light-text;
        // background-color: $dark-bg;

        color: $light-text;
        border: 1px solid $light-text;
        background-color: lighten($color: orangered, $amount: 6);
      }
      .editToggle,
      .infoToggle {
        filter: invert(1);
      }
      .popup-info {
      }
    }
  }
  .mapboxgl-ctrl-group {
    color: $light-text;
    background-color: rgba($color: $dark-bg, $alpha: 0.8);
    span {
      filter: invert(1);
    }
    #dark-mode {
      background-image: url('./assets/icons/brightness_3-24px.svg');
    }
  }
}

.page-container.dark {
  #instructions {
    color: $dark-text;
    background-color: rgba($color: $light-bg, $alpha: 0.8);
  }
  .mapboxgl-popup {
    .mapboxgl-popup-content {
      color: $dark-text;
      background-color: rgba($color: $light-bg, $alpha: 0.8);
      .popup-tag {
        // color: $dark-text;
        // border: 1px solid $dark-text;
        // background-color: $light-bg;

        color: $light-text;
        border: 1px solid $light-text;
        background-color: lighten($color: orangered, $amount: 6);
      }
      .editToggle,
      .infoToggle {
        filter: invert(0);
      }
      .popup-info {
      }
    }
  }
  .mapboxgl-ctrl-group {
    color: $dark-text;
    background-color: rgba($color: $light-bg, $alpha: 0.8);
    #dark-mode {
      background-image: url('./assets/icons/wb_sunny-24px.svg');
    }
  }
}

//  ---------------------------------------helpers
.hidden {
  // transition: max-height 1s ease;
  max-height: 0 !important;
  // height: 0;
  // display: none;
}

//  --------------------------------------- animations

@keyframes teleport {
  from {
    // opacity: 1;
    // hue-rotate: (0deg);
    filter: invert(0);
  }
  to {
    // opacity: 0;
    // hue-rotate: (100deg);
    filter: invert(1);
  }
}
